.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--backgroundSistema);
}

.layout-body {
  display: flex;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.layout-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  overflow-y: auto;
  /* Garante o espaço constante para a NavBar recolhida */
  margin-left: 4rem;
}