@use "../../variables.scss" as *;
$background: "/login/fundo-tela-login.png";
$logo: "/login/logo.png";

.background {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  opacity: 0.9;

  background-image: url(#{$background});
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.background label {
  color: $preto;
}

.background button{
    background: linear-gradient(to right, $azul-select, $verde-escurinho );
    color:$branco;
    border: none;
    border-radius: 7px;
    padding: 0.4rem;
}

.background input {
  border-radius: 7px;
  border: $cinza-claro 1px solid;
  background-color: $branco;
}

.area-responsavel,
.area-professor {
  background-color: rgba($branco, 0.7);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 7px;
  transform: scale(1.1);

  min-width: 24rem;
  max-width: 24rem;
}

.area-responsavel h4 {
  color: $azul-escuro;
  min-width: 15rem;
}

.logo h4{
  color: $verde-oliva;
  font-weight: 400;
  min-width: 16rem;
}

.logo h1 {
  color: $azul-escuro;
  font-weight: bold;
}


.area-professor h4{
  color:$azul-escuro;
}
